.hero-animated .animated {
  margin-bottom: 25px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 992px) {
  .hero-animated .animated {
    max-width: 53%;
  }
}

@media (max-width: 991px) {
  .hero-animated .animated {
    max-width: 60%;
  }
}

@media (max-width: 575px) {
  .hero-animated .animated {
    max-width: 80%;
  }
}

.logo {
  width: 200px;
}

.hero {
  width: 100%;
  padding: 0;
  background: var(--color-black);
  background: url(../img/hero-bg.png) center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 60px 0;
}

.hero .carousel {
  position: relative;
}
